<!DOCTYPE html>
<html>
  <head>
    <title>PennyWisePal</title>
    <!-- Add any necessary stylesheets and scripts here -->
  </head>
  <body>
    <h1>PennyWisePal</h1>
    <p>Welcome to Your PennyWisePal! Please sign up or log in to get started:</p>
    <ul>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Log in", new_user_session_path %></li>
    </ul>
  </body>
</html>
