  <div class="splash">
     <%= image_tag '/logo.png', class: 'logo' %>
    <p>Welcome to Your PennyWisePal! Please sign up or log in to get started:</p>
    <div class="splash-buttons-container">
      <%= button_to "Sign up", new_user_registration_path,  method: :get, class: "splash-button" %>
      <%= button_to "Log in", new_user_session_path, class: "splash-button" %>
    </div>
  </div>
